run = "jupyter notebook --config jupyter_notebook_config.py"

hidden = [
  ".gitignore", 
  "migrated",
  "notebooks/.ipynb_checkpoints",
  "jupyter_notebook_config.py",
  ".pythonlibs"
]

[nix]
channel = "stable-23_05"

entrypoint = "README.md"

[env]
JUPYTER_CONFIG_DIR = "$REPL_HOME"

language = ""